[Desktop Entry]
Name=VeneraPlus
GenericName=VeneraPlus
Comment=VeneraPlus
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera-plus
